@font-face{
    font-family: ms;
    src: url('../fonts/ms.woff')  ;
}

body{
    font-family: ms;
}

.text-yellow{
    color: #F3FF07;
}

.bg-yellow{
    background-color: #F3FF07;
}

.bg-secondary{
    background-color:#FAFAFA !important;
}

.text-blue{
    color: #1D2D4B !important;
}

.bg-blue{
    background-color: #1D2D4B;
}

.text-black{
    color: black;
}

.bg-black{
    background-color: black;
}

.title span{
    position: relative;
    font-weight: bold;
    overflow: hidden;
}

.title h3 span:before{
    content: "";
    position: absolute;
    top: 49%;
    left: -50px;
    bottom: 0;
    content: '';
    width: 40px;
    height: 2px;
    background-color: #F8D700;
}

.title h3 span:after {
    position: absolute;
    top: 49%;
    right: -50px;
    bottom: 0;
    content: '';
    width: 40px;
    height: 2px;
    background-color: #F8D700;
}

/*------------------------*\
 NAV
\*------------------------*/

.navbar{
    transition: 1s ease;
}
.navbar.hide{
    transform: translateY(-100%);
}


/*------------------------*\
.CLIENTES QUOTE
\*------------------------*/

.clientes-quote{
    background-color: white;
}

.clientes-quote i{
    color: #F8D700;;
}
.clientes-quote h1{
    color: #F8D700;
    font-weight: 900;
    padding-top: 20px;
}

.clientes-quote-depo{
    background-color: white;
    box-shadow: 5px 5px 15px #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.clientes-quote .cli-pic{
    width: 80px !important;
    border-radius: 50%;
    margin-left: -65px;
    box-shadow: 1px 0 5px;
}

.clientes-quote .cli-name{
    color: #F8D700;
    font-weight: 600;
    font-size: 20px;
}

.clientes-quote i{
    font-size: 20px;
    margin-bottom: 20px;
}

@media (max-width: 577px){
    .clientes-quote .cli-pic{
        margin: auto;
        margin-top: -50px;
    }
}

/*------------------------*\
    CAROUSEL
\*------------------------*/

.owl-nav{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: rgb(51, 79, 116);
}

.owl-prev, .owl-next{
    margin: 10px 20px;
    outline: none;
}

.owl-prev:focus, .owl-next:focus{
    outline: none;
}

.owl-moda img{
    max-height: 300px;
}
/*------------------------*\
    PROMO
\*------------------------*/

.promo{
    background: linear-gradient(to right, rgba(255, 255, 255,1), rgba(255, 255, 255,.1)), url('../img/bg1.jpg'); 
    background-position: center;
    background-attachment: fixed;
}

.promo h2{
    display: inline-block;
    position: relative;
}

.promo h2 span{
    position: absolute;
}

.promo .desconto p{
    margin-top: -40px;
}

/*------------------------*\
.SOCIAL 2
\*------------------------*/

.social-2 a{
    color: black;
    font-size: 25px;
    padding: 5px 10px;
}

.social-2 .btn-facebook i:hover{
    color: #4267B2;
    border-color: #4267B2;
}

.social-2 .btn-instagram i:hover{
    color: #625BDD;
    border-color: #625BDD;
}

.social-2 .btn-pinterest i:hover{
    color: #BD081C;
    border-color: #BD081C;
}

.social-2 .btn-whatsapp i:hover{
    color: #28A745;
    border-color: #28A745;
}
.social-2 i{
    transition: .4s ease;
    border: 2px solid black;
    border-radius: 50%;
    padding: 8px;
}

.social-2 i:hover{
    transform: scale(1.2);
    opacity: 1;

}

/*------------------------*\
    FORM
\*------------------------*/

textarea, input{
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #ccc;
    transition: .5s ease;
}

textarea:focus, 
input:focus, input:active{
    border-bottom: 2px solid #1D2D4B;
    outline: none;
}

/*------------------------*\
    MODAL-GALERIA
\*------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    transition: .5 ease;
}


#modal-galeria .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    height: 80%;
    max-width: 700px;
}

#modal-galeria #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#modal-galeria .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
    
#modal-galeria .close:hover,
#modal-galeria .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}